{% extends "home.html" %} {% block
    title %}{% endblock %} {% block content %}
    <meta charset="UTF-8" >
    <meta name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
    <div class="container">
        <h2>Şifremi Unuttum?</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
             {{ form.email_address}} 
             {{ form.submit}}
        </form>
    </div>
    
    {% endblock %} 