{% extends "home.html" %}

{% block title %}Reset Password{% endblock %}
{% block head %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
{% endblock %}
{% block content %}
<div class="header">
    <h1>Şifreyi Sıfırla</h1>
</div>

<form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.email_password)}}
    {{ wtf.form_field(form.password)}}
    <button class="btn" type="submit">Submit</button>
</form>





{% endblock %}